	<p>
		<strong>Date:</strong>
		<%= visit.date %>
	</p>

	<p>
		<strong>Infection:</strong>
		<%= visit.infection %>
	</p>

	<p>
		<strong>Injury:</strong>
		<%= visit.injury %>
	</p>

	<p>
		<strong>Observations:</strong>
		<%= visit.observations %>
	</p>

	<p>
		<strong>Hospital Request:</strong>
		<%= visit.hospital_request %>
	</p>

		<p>
		<strong>Condition:</strong>
		<%= visit.condition %>
	</p>
	<hr>